div {
    padding:10px
    border: 2px solid black;
}
.statistics {
    display: flex;
    color:darkgray;
}

.stat {
    flex: 1;
}

.characterSheet {
    display: flex;
    color: lightgray;
}

.pane {
    flex: 1;
}